[submodule "models/astromer1/code"]
	path = models/astromer1/code
	url = https://github.com/astromer-science/main-code
[submodule "models/astromer2/code"]
	path = models/astromer2/code
	url = https://github.com/astromer-science/main-code
[submodule "models/atat/code"]
	path = models/atat/code
	url = https://github.com/alercebroker/ATAT
[submodule "models/atcat/code"]
	path = models/atcat/code
	url = https://codeberg.org/zorat/atcat
[submodule "models/astrom3/code"]
	path = models/astrom3/code
	url = https://github.com/MeriDK/AstroM3
[submodule "models/astromer1-ztfdr20/code"]
	path = models/astromer1-ztfdr20/code
	url = https://github.com/astromer-science/main-code
